</main>
<footer class="has-background-dark has-text-white p-5">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h2 class="title is-6 mb-0 has-text-white">Disclaimer</h2>
        <p>
          The data shown is maintained by the City of Sault Ste. Marie
          and through contributions from the general public.
          Accepted items are subject to change.
          Reach out to the business accepting items to confirm hours of service and drop off details.
        </p>
      </div>
      <div class="column is-narrow">
        <p class="has-text-right">
          <a class="has-text-white" href="https://saultstemarie.ca/" target="_blank" rel="nofollow noreferrer">The City of Sault Ste. Marie</a><br />
          <a class="has-text-white" href="https://github.com/cityssm/waste-disposal-data" target="_blank" rel="nofollow noreferrer">Download the Data</a>
        </p>
      </div>
    </div>
  </div>
</footer>
<script>
  window.exports = window.exports || {};
</script>
